In [1]:
import pandas as pd

In [24]:
df_vendas = pd.read_csv('/content/vendas.csv')
df_vendas.head()

,data,produto,categoria,quantidade,preco_unitario,cliente,regiao
0,2025-12-09,Headset G,Periféricos,1,2759,Fernanda,Sudeste
1,2025-03-12,Armário P,Móveis,2,4516,Rafael,Norte
2,2025-11-24,Mesa Escritório N,Móveis,1,4347,Rafael,Sudeste
3,2025-09-14,Tênis T,Vestuário,3,3046,Ana,Norte
4,2025-08-03,Boné V,Vestuário,2,4453,Bruno,Centro-Oeste

In [25]:
df_vendas['receita_total'] = df_vendas['quantidade'] * df_vendas['preco_unitario']
df_vendas.head()

,data,produto,categoria,quantidade,preco_unitario,cliente,regiao,receita_total
0,2025-12-09,Headset G,Periféricos,1,2759,Fernanda,Sudeste,2759
1,2025-03-12,Armário P,Móveis,2,4516,Rafael,Norte,9032
2,2025-11-24,Mesa Escritório N,Móveis,1,4347,Rafael,Sudeste,4347
3,2025-09-14,Tênis T,Vestuário,3,3046,Ana,Norte,9138
4,2025-08-03,Boné V,Vestuário,2,4453,Bruno,Centro-Oeste,8906

In [26]:
import sqlite3

conn = sqlite3.connect(":memory:")
df_vendas.to_sql("vendas", conn, index=False, if_exists="replace")

100

In [30]:
filtra_produto_eletronicos = pd.read_sql_query("SELECT * FROM vendas WHERE categoria = 'Eletrônicos'", conn)
filtra_produto_eletronicos

,data,produto,categoria,quantidade,preco_unitario,cliente,regiao,receita_total
0,2025-07-24,Tablet D,Eletrônicos,2,4893,Fernanda,Sudeste,9786
1,2025-05-20,Monitor B,Eletrônicos,1,3060,Lucas,Sul,3060
2,2025-06-01,Celular A,Eletrônicos,3,516,João,Centro-Oeste,1548
3,2025-04-22,Celular A,Eletrônicos,2,1018,Fernanda,Nordeste,2036
4,2025-11-24,Notebook X,Eletrônicos,1,2670,Ana,Sul,2670
5,2025-05-30,Tablet D,Eletrônicos,4,2575,Maria,Nordeste,10300
6,2025-09-19,Notebook X,Eletrônicos,2,2778,Rafael,Norte,5556
7,2025-01-30,Notebook X,Eletrônicos,5,1006,Lucas,Sudeste,5030
8,2025-07-07,Tablet D,Eletrônicos,2,2533,Camila,Sul,5066
9,2025-11-20,Notebook X,Eletrônicos,4,3998,Pedro,Nordeste,15992
10,2025-08-01,Fone C,Eletrônicos,5,2433,Pedro,Sul,12165
11,2025-08-06,Fone C,Eletrônicos,5,246,Rafael,Sudeste,1230
12,2025-05-25,Monitor B,Eletrônicos,2,3607,Lucas,Sul,7214
13,2025-07-05,Fone C,Eletrônicos,4,2864,Fernanda,Sudeste,11456
14,2025-04-01,Fone C,Eletrônicos,2,4350,Lucas,Centro-Oeste,8700
15,2025-04-09,Celular A,Eletrônicos,3,4362,Pedro,Norte,13086
16,2025-10-05,Celular A,Eletrônicos,2,2742,Pedro,Norte,5484
17,2025-11-29,Fone C,Eletrônicos,5,2798,Lucas,Norte,13990
18,2025-10-12,Tablet D,Eletrônicos,2,4147,João,Sul,8294
19,2025-08-15,Monitor B,Eletrônicos,5,3644,Pedro,Sudeste,18220
20,2025-03-19,Celular A,Eletrônicos,5,922,Lucas,Sul,4610
21,2025-03-16,Notebook X,Eletrônicos,3,4518,Rafael,Sul,13554
22,2025-11-13,Fone C,Eletrônicos,5,4939,Rafael,Centro-Oeste,24695
23,2025-03-18,Notebook X,Eletrônicos,1,4603,Ana,Centro-Oeste,4603
24,2025-08-26,Monitor B,Eletrônicos,2,2718,Carla,Sudeste,5436
25,2025-01-04,Notebook X,Eletrônicos,1,1612,Pedro,Nordeste,1612
26,2025-10-16,Celular A,Eletrônicos,1,2046,Carla,Sul,2046
27,2025-03-15,Celular A,Eletrônicos,5,4390,Carla,Nordeste,21950

In [41]:
produto_mais_vendido = pd.read_sql_query("SELECT produto, categoria, SUM(quantidade) AS total_vendido FROM vendas GROUP BY produto ORDER BY total_vendido DESC LIMIT 1", conn)
produto_mais_vendido

  produto categoria  total_vendido
0  Sofá Q    Móveis             30

In [45]:
regiao_maior_receita = pd.read_sql_query("SELECT regiao, SUM(receita_total) FROM vendas GROUP BY regiao ORDER BY receita_total DESC LIMIT 1", conn)
regiao_maior_receita

  regiao  SUM(receita_total)
0  Norte              149076